body {
    background-image: url("../images/fondo.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#tamagotchi-nombre {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10px; 
    font-weight: 300;
    font-family: 'DM Mono', monospace;
}

.barra {
    width: 25vw;
    height: 35px;
    border: 1px solid #000;
    position: relative;
    margin-bottom: 10px;
}

.vida-llena {
    width: 25vw;
    height: 100%;
    background-color: rgb(246, 57, 57);
}

.energia-llena {
    width: 25vw;
    height: 100%;
    background-color: rgb(55, 242, 55);
}

.felicidad-llena {
    width: 25vw;
    height: 100%;
    background-color: yellow;
}

.vida-llena:after {
    content: url("../images/vida.png");
}

.energia-llena:after {
    content: url("../images/energia.png");
}

.felicidad-llena:after {
    content: url("../images/felicidad.png");
}

.contenedor {
    display: flex;
    position: relative;
}

.imagen-tamagochi {
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#escudo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.opciones-2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: right;
    align-items: center;
    margin-right: 25px;
}

.opciones-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.boton {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.boton:hover {
    height: 120px !important;
    width: 120px !important;
}

#alimenta {
    background-image: url('../images/alimentar.png');
}

#mima {
    background-image: url('../images/mimar.png');
}

#juega {
    background-image: url('../images/jugar.png');
}

#cura {
    background-image: url('../images/curar.png');
}

#golpea {
    background-image: url('../images/golpear.png');
}

#viste {
    background-image: url("../images/vestir.png");
}

#limpia{
    background-image: url("../images/limpiar.png");
}

#guarda {
    background-image: url("../images/guardar.png");
}

